# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.iml
*.xml
BTree/cmake-build-debug/CMakeCache.txt
*.cmake
*.bin
BTree/cmake-build-debug/CMakeFiles/3.9.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
BTree/cmake-build-debug/CMakeFiles/3.9.6/CompilerIdC/CMakeCCompilerId.c
*.make
*.txt
*.cbp
BTree/cmake-build-debug/CMakeFiles/cmake.check_cache
BTree/cmake-build-debug/CMakeFiles/CMakeOutput.log
BTree/cmake-build-debug/CMakeFiles/feature_tests.c
BTree/cmake-build-debug/CMakeFiles/feature_tests.cxx
BTree/cmake-build-debug/CMakeFiles/Makefile2
BTree/cmake-build-debug/CMakeFiles/progress.marks
BTree/cmake-build-debug/Makefile
BTree/library.cpp
BTree/cmake-build-debug/CMakeFiles/BTree.dir/CXX.includecache
BTree/cmake-build-debug/CMakeFiles/BTree.dir/depend.internal
BTree/cmake-build-debug/CMakeFiles/Progress/1
.DS_Store
CppPrimerExercises/cmake-build-debug/CMakeFiles/3.9.6/CompilerIdC/CMakeCCompilerId.c
CppPrimerExercises/cmake-build-debug/CMakeFiles/3.9.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
CppPrimerExercises/cmake-build-debug/CMakeFiles/cmake.check_cache
CppPrimerExercises/cmake-build-debug/CMakeFiles/CMakeOutput.log
CppPrimerExercises/cmake-build-debug/CMakeFiles/CppPrimerExercises.dir/CXX.includecache
CppPrimerExercises/cmake-build-debug/CMakeFiles/CppPrimerExercises.dir/depend.internal
CppPrimerExercises/cmake-build-debug/CMakeFiles/feature_tests.c
CppPrimerExercises/cmake-build-debug/CMakeFiles/feature_tests.cxx
CppPrimerExercises/cmake-build-debug/CMakeFiles/Makefile2
CppPrimerExercises/cmake-build-debug/CMakeFiles/progress.marks
CppPrimerExercises/cmake-build-debug/CppPrimerExercises
CppPrimerExercises/cmake-build-debug/Makefile
